.button{
        padding: 10px;
        border: 1px solid gray;
        background-color:#51bbec;
        border-radius: 5px;
        font: inherit;
      }
.button:hover {
        background-color: orange;
        box-shadow: 3px 3px 5px grey;
      }
